<%@page contentType="text/html" pageEncoding="UTF-8"%>
<script src="${pageContext.request.contextPath}/resources/CTRLs/allWorkTensesCTRL.js"></script>

<div ng-controller="allWorkTensesCTRL">

	<div class="row" style="margin-bottom: 15px;"> 
		<button type="button" class="btn btn-info" ng-click="getRoundedGorselOfSiiir()">Yıla Göre</button>
		<button type="button" class="btn btn-info" ng-click="getYereGoreOfSiiir()">Yere Göre</button>
		<button type="button" class="btn btn-info" ng-click="getBarkodCompare()">Barkod Karşılaştır</button>
		<a id="downloadLnk2">
			<button type="button" class="btn btn-success" aria-label="Left Align" style="float:right;">
			  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Kaydet yıl
			</button>
		</a>
		<a id="downloadLnk3" download="siirGorselPlace.jpg">
			<button type="button" class="btn btn-success" aria-label="Left Align" style="float:right;">
			  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Kaydet yer
			</button>
		</a>
		<a id="downloadLnk4" download="siirGorselPlace.jpg">
			<button type="button" class="btn btn-success" aria-label="Left Align" style="float:right;">
			  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Kaydet Barkod
			</button>
		</a>
	</div>
	<div class="col-md-12" style="text-align:center;">
		<canvas id="canvasCompareBarkod" width="100%" height="100%"></canvas>
	</div>
	<div class="col-md-12" style="text-align:center;">
		<canvas id="canvasTensesDenemem" width="100%" height="100%"></canvas>
	</div>
	<div class="col-md-12" style="text-align:center;">
		<canvas id="canvasTensesDenememPlace" width="100%" height="100%"></canvas>
	</div>



	
</div>
			
