<%@page contentType="text/html" pageEncoding="UTF-8"%>
<div style="margin-top:15%;left:0;position:fixed;z-index:300" ng-show="!showSiirYandan">
		<button type="button" class="btn btn-info " ng-click="showSiirYandan = !showSiirYandan" > 
		  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
		</button>
	</div>

<div style="margin-top:0%;left:10px; z-index:300; float:left; position:fixed;">
	<div class="scroll" style="float:left;background:aliceblue;opacity:0.9;"  ng-show="showSiirYandan">
		<p id="siirinKendi">
			
		</p>
	</div>
	<div style="margin-top:70%;float:left;position:static;z-index:300" ng-show="showSiirYandan">
		<button type="button" class="btn btn-info " ng-click="showSiirYandan = !showSiirYandan" > 
		  <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
		</button>
	</div>
</div>


<!--<div class="col-md-3">
</div>-->

<div class="col-md-12" style="text-align:center;">
	<div class="row">
		<h5><span class="label label-info">Seçili Şiir:</span>  {{seciliSiirName}}</h5>
	</div>
	<div class="row" id="gorselResult" ng-show="showImgResult">
		<img src="#" id="imgGorselResult" width="600" height="400">
	</div>
	<div class="row" ng-show="!showImgResult">
		<div class="row" style="margin-bottom: 15px;"> 
			<a id="downloadLnk" download="siirGorsel.jpg">
				<button type="button" class="btn btn-success" aria-label="Left Align" style="float:right;">
				  <span class="glyphicon glyphicon-floppy-save" aria-hidden="true"></span> Kaydet
				</button>
			</a>
		</div>
		
		<canvas id="canvasGorselSonuc" width="1170" height="657" ></canvas>
	</div>
	
</div>
