<%@page contentType="text/html" pageEncoding="UTF-8"%>

<style type="text/css">
	.scroll {
	   overflow-y: scroll; 
	   height:590px;
	   height: 100vh;
	}
	.scroll::-webkit-scrollbar {
	    width: 12px;
	}

	.scroll::-webkit-scrollbar-track {
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3); 
	    border-radius: 10px;
	}

	.scroll::-webkit-scrollbar-thumb {
	    border-radius: 10px;
	    -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.5); 
	}
</style>
<style type="text/css">
					

	/* Tooltip text */
	.gorselInfo .gorselInfoLbl {
	    visibility: hidden;
	    width: 200px;
	    background-color: #555;
	    color: #fff;
	    text-align: center;
	    padding: 5px 0;
	    border-radius: 6px;

	    /* Position the tooltip text */
	    position: absolute;
	    z-index: 1;
	    bottom: 50%;
	    left: 50%;
	    margin-left: -100px;

	    /* Fade in tooltip */
	    opacity: 0;
	    transition: opacity 1s;
	}

	/* Tooltip arrow */
	.gorselInfo .gorselInfoLbl::after {
	    content: "";
	    position: absolute;
	    top: 100%;
	    left: 50%;
	    margin-left: -5px;
	    border-width: 5px;
	    border-style: solid;
	    border-color: #555 transparent transparent transparent;
	}

	/* Show the tooltip text when you mouse over the tooltip container */
	.gorselInfo:hover .gorselInfoLbl {
	    visibility: visible;
	    opacity: 1;
	}

	@media screen and (max-width: 767px) {

		.scroll{
			margin-right:15px;
		}
	}
</style>

<div class="container">

	<div class="row">
		<div class="row">
			<div class="col-sm-3">
				<button type="button" class="btn btn-warning btn-sm" ng-show="gorselSonucShow" ng-click="gorselSonucShow = false; showGorselGeriDon=true">
				  <span class="glyphicon glyphicon-triangle-left" aria-hidden="true"></span>
				  Sonuçlara Dön
				</button>
				<button type="button" class="btn btn-warning btn-sm" ng-show="!gorselSonucShow && showResults && showGorselGeriDon" ng-click="gorselSonucShow = true">
				  Görsele Dön
				  <span class="glyphicon glyphicon-triangle-right" aria-hidden="true"></span>
				</button>
			</div>
			<div class="col-sm-6" role="search">
			<form ng-submit="callSearch()">
				<div class="input-group">
					<input type="text" class="form-control" id="searchText" ng-model="searchTextM" ng-disabled="gorselSonucShow" placeholder="Şiir, Kelime vb. Ara" />
					<span class="input-group-btn">
						<button class="btn btn-default" type="button" ng-click="callSearch()" ng-disabled="gorselSonucShow">Ara</button>
					</span>
				</div>
			</form>
			</div>
			<div class="col-sm-3"></div>
		</div>

		<div class="row">
			<div class="col-md-12" ng-show="!gorselSonucShow">
				<div ng-show="showResults" class="col-md-3 scroll">
					<table class="table table-condensed" style="font-size:small;">
						<thead>
							<tr>
								<th></th>
								<th style="font-size:initial;">Aranan Kelimenin Geçtiği Şiirleri</th>
								<!--<th></th>-->
							</tr>
						</thead>
						<tbody>
							<tr ng-repeat="sonuc in aramaSonucList">
								<td>

										<label>
											 <input type="radio" ng-click="addToGorsellestirSiirList(sonuc)" name="optRadio">
										</label>
								</td>
								<td>{{sonuc.name}}</td>

							</tr>
						</tbody>
					</table>	
				</div>
				<div class="col-md-9" ng-show="showResults">

					<div style="text-align: center;"><label><h4><b><u><span>Görselleştirme seçenekleri</span></b></u></h4></label></div>
					<div class="row" style="text-align: center; height:150px;">
						<div class="col-xs-12 col-md-4">
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(4)">
									<span>Barkod</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/barkod.png" class="img-thumbnail" style="height:100%" >
								</a>
								<span class="gorselInfoLbl">Şiirin kişi çekimleri, olumluluk, uyarılma ve baskınlık bilgilerini taşıyan kimliğidir</span>
							</div>
						</div>
						
						<div class="col-xs-12 col-md-4">
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(5)">
									<span>Kelime Tekrarları</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/tekrarEx.png" class="img-thumbnail" style="height:100%" >
								</a>
								<span class="gorselInfoLbl">Şiirde tekrar eden kelimeleri birbirine bağlayarak görsel oluşturur</span>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(7)">
									<span>Kip ve Kişi</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/kipveKisiEx.png"  class="img-thumbnail" style="height:100%" >
								</a>
								<span class="gorselInfoLbl">Şiirde kullanılan kelimelerin kip ve kişi çekimlerini gösterir</span>
							</div>
						</div>
						
					</div>
					<div class="row" style="margin-top: 50px; text-align: center;height:150px;">
						<div class="col-xs-12 col-md-4">
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(9)">
									<span>Yıllara Göre Kullanım</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/freqOverYearEx.png"  class="img-thumbnail" style="height:100%">
								</a>
								<span class="gorselInfoLbl">Aranan kelime ya da dizinin yıllara göre kullanımıdır</span>
							</div>
						</div>

						<div class="col-xs-12 col-md-4">
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(10)">
									<span>Kitaba Göre Kullanım</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/freqOverBookEx.png" class="img-thumbnail" style="height:100%" >
								</a>
							<span class="gorselInfoLbl">Aranan kelime ya da dizinin kitaba göre kullanımıdır</span>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(11)">
									<span>Mekana Göre Kullanımı</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/freqOverPlace.png"  class="img-thumbnail" style="height:100%" >
								</a>
								<span class="gorselInfoLbl">Aranan kelime ya da dizinin mekana göre kullanımıdır</span>
							</div>
						</div>

					</div>

					<div class="row" style="margin-top: 50px;text-align: center;height:150px;">

						<div class="col-xs-12 col-md-4">
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(6)">
									<span>Kullanılan Sıfatlar</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/adjectivesEx.png" class="img-thumbnail" style="height:100%" >
								</a>
								<span class="gorselInfoLbl">Şiirdeki kelimelerin sıfatlık özelliklerini gösterir</span>
							</div>
						</div>

						<div class="col-xs-12 col-md-4" >
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(2)">
									<span>Kelime Bulutu</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/wordCloudEx.png" class="img-thumbnail" style="height:100%" >
								</a>

							<span class="gorselInfoLbl">Şiirde geçen kelimeleri kullanım sıklığına göre büyüklük atayarak şiirde en çok kullanılan kelimeleri görmeyi sağlar</span>
							</div>
						</div>
						<div class="col-xs-12 col-md-4">
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(8)">
									<span>Şiirin Gökkuşağı</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/roundedEx.png"  class="img-thumbnail" style="height:100%">
								</a>
								<span class="gorselInfoLbl">Şiirin satırlarını kullanılan kelimelerle birleştirerek bir gökkuşağı oluşturur</span>
							</div>
						</div>
						

					</div>
					<div class="row" style="margin-top: 50px;text-align: center;height:150px;">
						<div class="col-xs-12 col-md-4">
							<div class="gorselInfo">
								<a href="#" ng-click = "getGorsel(12)">
									<span>Merdivenli Yapı</span><br>
									<img src="${pageContext.request.contextPath}/resources/images/adjectivesEx.png" class="img-thumbnail" style="height:100%" >
								</a>
								<span class="gorselInfoLbl">Şiirdeki merdivenli yapıyı ve kelime uzunluklarını gösterir</span>
							</div>
						</div>
					</div>

				</div>
			</div>

			<div class="col-md-12" ng-show="gorselSonucShow">
				<%@ include file="gorselSonuc.html" %>
			</div>

	</div>

</div>

